#menu {
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);;
  position: absolute;
  height: 100vh;
  min-width: 250px;
}

#menu .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 35px;
  //margin-left: 40px;
}

#menu menu__logo img{
  width: 150px;
}

#menu .menu__nav{
  padding-top: 65px;
  padding-right: 42px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 4;
  text-decoration: none;
}

#menu .menu__list{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 38px;
}

li img{
  width: 25px;
  height: 25px;
  padding-right: 26px;
}

#rectangle {
  width: 6px;
  height: 60px;
  background-color: $menu-touched;
  border-radius: 0 10px 10px 0;
}



