//Fonts

$font-main: Inter, sans-serif;
$font-secondary: Lato, serif;


//Colors

$white: #FFF;
$menu-touched: #2D60FF;
$menu-untouched: #B1B1B1;
$menu-text: #718EBF;
$graphic: #1814F3;
$graphic-secondary: #16DBCC;
$graphic-pink: #FA00FF;
$graphic-orange: #FC7900;
$grey: #343C6A;
$red: #FF4B4A;
