//Fonts

$font-main: Inter, sans-serif;
$font-secondary: Lato, serif;


//Colors

$white: #FFF;
$menu-touched: #2D60FF;
$title: #2D60FF;
$menu-untouched: #B1B1B1;
$graphic: #1814F3;
$graphic-secondary: #16DBCC;
